@charset "UTF-8";
.test {
  font-size: 10px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1;
}

main {
  display: block;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

code, kbd, samp {
  font-size: 1em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
table caption, table th {
  text-align: left;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: 1px solid #000;
  border-radius: 0;
  outline: none;
}

button {
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
}
button:disabled {
  cursor: default;
}

input[type=file], input[type=range] {
  border: none;
}
input[type=file], input[type=range], input[type=search], input[type=submit], input[type=text], input[type=button], input[type=email], input[type=number], input[type=password], input[type=reset], input[type=tel] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 16px;
}
input:-webkit-autofill {
  background-color: transparent;
}

textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 16px;
  min-height: 2em;
  overflow: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 3px 5px;
}
select::-ms-expand {
  display: none;
}

body {
  font-family: "Dosis", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.selectWrap {
  position: relative;
  display: inline-block;
}
.selectWrap select {
  height: 27px;
  background: transparent;
  position: relative;
  z-index: 1;
  padding-right: 15px;
}
.selectWrap::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  background: #fff;
  height: 100%;
  width: 30px;
}
.selectWrap::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
}

.spview {
  display: none;
  color: #000;
}

@media screen and (max-width: 768px) {
  .pcview {
    display: none;
  }

  .spview {
    display: block;
  }
}